@use '../../../onboarding/styles/form-layout' as *;
@use 'abstracts/index' as *;

//solo estilos exclusivos de admin
.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

.password-field__toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: .9rem;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: $color-text-light;
}

.password-field__toggle svg {
    width: 1.2rem;
    height: 1.2rem;
}

.password-field__toggle:hover {
    color: $color-primary;
}


.password-requirements {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .75rem;
}

.password-requirement {
    display: flex;
    align-items: center;
    gap: .65rem;
    font-size: $fs-small;
}

.password-requirement__icon {
    width: 1rem;
    height: 1rem;
    color: $color-text-light;
}

.password-requirement__icon--valid {
    color: $color-success;
}

.role-selector {
    display: flex;
    gap: $space-md;
}

.role-selector__option {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}
