@use 'abstracts/index' as *;

.profile-page {
    width: 100%;
    padding: $space-md;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    @include tablet {
        padding: $space-md;
    }
    @include mobile {
        padding: $space-sm;
    }
}