@use 'abstracts/index' as *;

.onboarding-form{

    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: $space-lg;

    @include tablet {
        padding: $space-md;
    }
    @include mobile {
        padding: $space-md;
    }

}

.onboarding-form__header {
    margin-bottom: $form-section-gap;
}

.onboarding-form__title {
    font-family: $font-heading;
    font-size: $fs-section-title;
}

.onboarding-form__subtitle {
    color: $color-text-light;
}

.onboarding-form__form {
    display: flex;
    flex-direction: column;
    gap: $form-section-gap;
}

.form-section {
    font-family: $font-body;
    font-size: $fs-caption;
    display: flex;
    flex-direction: column;
    gap: $form-row-gap;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: $form-field-gap;
}

.form-field__label {
    display: inline-flex;
    align-items: center;
    gap: .25rem;
    font-weight: $fw-medium;
}

.form-field__required {
    color: $color-danger;
    font-weight: $fw-bold;
}

.form-field__input {
    width: 100%;
    padding: .40rem 1rem;
    border: 1px solid $color-border;
    border-radius: .75rem;
    font: inherit;
    //REVISAR SI DEJAR O NO***
    transition:
        border-color .2s ease,
        box-shadow .2s ease;
}

//REVISAR SI DEJAR O NO***
.form-field__input:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.15);
}

//***editado***
.form-actions {
    display: flex;
    flex-direction: column;
    gap: $space-sm;
}

.form-register {
    display: flex;
    justify-content: center;
    gap: $space-xs;
    margin-top: $space-sm;
}

.form-actions__link {
    align-self: flex-end;
    color: $color-primary;
    font-size: $fs-caption;
    font-weight: $fw-medium;
    transition: color .2s ease;
    &:hover {
        color: $color-primary-light;
        //text-decoration: underline;
    }
}


//borde rojo para los mensajes
.form-field__input.ng-invalid.ng-touched,
.form-field__textarea.ng-invalid.ng-touched {
    border-color: $color-danger;
}

.form-field__input.ng-invalid.ng-touched:focus,
.form-field__textarea.ng-invalid.ng-touched:focus {
    box-shadow: 0 0 0 3px rgba(220, 53, 69, .15);
}

//estilo del mensaje
.form-field__error {
    margin-top: .25rem;
    color: $color-danger;
    font-size: .85rem;
    font-weight: $fw-medium;
}


.password-field {
    position: relative;
    display: flex;
    align-items: center;
}

.password-field__toggle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    right: .9rem;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: $color-text-light;
}

.password-field__toggle svg {
    width: 1.2rem;
    height: 1.2rem;
}

.password-field__toggle:hover {
    color: $color-primary;
}