/* ==========================
   PALETA GESTIA
========================== */

$color-primary: #300006;
$color-primary-light: #913045;
$color-primary-dark: #4a0d19;

//INVERTI LOS NOMBRES
$color-background: #ffffff; //REVISAR
$color-white: #faf8f7; //REVISAR

$color-surface: #f7f5f4;

$color-text: #2a2a2a;
$color-text-light: #6c6c6c;

$color-border: #ececec;
$color-divider: #f2e7e7;

$color-danger: #dc3545;
$color-success: #22c55e;